<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<<<<<<< HEAD
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
=======
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">

>>>>>>> ff10608d8b546a05847a7cd5451016c8402c6175
=======
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
>>>>>>> 96673206a29f1677f809b777290a0bd898988621
</head>
<body>
<div id="container">
	
	<div class="message">
    {{messages.info}}
    </div>
	{{{body}}}
</div>

</body>
</html>
