<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
=======
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">

>>>>>>> ff10608d8b546a05847a7cd5451016c8402c6175
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>

</body>

</html>
