 
   <div class="row">
<h1> Names Greeted</h1>
<table>
    <tr> 
        
        <th>No of seats</th>
        <th>registration_numbers</th>
    </tr>
    
    <tr>
        <td>{{seats}}</td>
        <td>{{reg_number}}</td>
        
    </tr>

    
</table>

</div>