<div class="row">
  <div class="Container">

    <h1>Cars info</h1>

        <form action="/information" method="post">
         <select name="seatsNumber">
            <option value="Seats">Seats</option>
            <option value=2>2</opntion>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=6>6</option>
          </select>
          
 <div class="Reg">Registrating Numbers:
          <input type="text" name="number" placeholder="Enter your reg number" value="" id="field_1"> 
        </div>   
        
          
          <button class="addButton" type="submit" name="addButton" value="add Reg" id="greetId"> Add Reg</button>
       <div class="message">{{reg_number}}</div>
         <div class="message">{{seats}}</div>
        </form>
  </div>
</div>