
    <div class="col-1">
        <div class="interest">
            <h1>Carpool Buddy</h1>
        </div>
    </div>
<form action="/" method="POST">

<div class="counter">
    <div style="font-size:24px" class="counter"><h3>People Interested: {{counter}} </h3> </div>
</div>

<div style="font-size:24px" class="seats"><h3>Car Available: {{carcount}}</h3></div>

<div class="dbButton"><button type="button" class="btn btn-info">Buddy Information</button></div>

</form>