
    <div class="col-1">
        <div class="interest">
            <h1></h1>
        </div>
    </div>
<form action="/" method="POST">

<div class="counter">
    <div class="counter"><h2>People Interested</h2> {{counter}} </div>
</div>

<div style="font-size:24px" class="seats"><h3>Car Seats Available: 7 </h3></div>

</form>