
h1{
margin-left: 8em;
color: darkcyan;
font-size: 50px;
}
body{ 
  background-color: cyan;
   background-image: url(/css/back.jpeg); 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter{
  margin-top: 5em;
  margin-left: 12em;
  position: relative;
  width: 50%;

}

.seats{
  margin-top: 3em;
  margin-left: 20em;
  position: relative;
  width: 50%; 
}
.dbButton{
  text-transform: uppercase;
text-decoration: none;
background: darkcyan;
padding: 20px;
border-radius: 20px;
display: inline-block;
margin-left: 30em;
}